#root {
  display:flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  text-align: center;
}

.bookCard {
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
  max-width: 200px;
  text-align: center;
  background-color: rgba(208, 218, 218, 0.2);
}

.bookList {
  display:flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pageControls {
  margin-bottom: 20px;
}

.inputHolder {
  width: 400px;
}